@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";


/* 1. Definicja fontu */
@font-face {
  font-family: 'KaliebLuxury';
  /* Ścieżka relatywna do pliku index.css */
  src: url('./assets/fonts/KaliebLuxuryDemo-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Zapobiega znikaniu tekstu podczas ładowania */
}

/* 2. Konfiguracja Tailwind v4 */
@theme {
  /* Kluczowe: cudzysłów wokół nazwy fontu i fallback (sans-serif) */
  --font-luxury: "KaliebLuxury", sans-serif;

  /* Opcjonalnie nadpisujemy domyślny sans jeśli chcesz inny dla tekstów prostych */
  --font-sans: "Inter", sans-serif;

  /* This creates bg-themeBlack, text-themeBlack, border-themeBlack */
  --color-themeBlack: #131313;
}

/* 3. Style globalne (opcjonalne) */
body {
  background-color: #F8F8F8;
  color: #131313;
  /* Jeśli chcesz by ten font był domyślny wszędzie, odkomentuj linię poniżej: */
  /* font-family: "KaliebLuxury", sans-serif; */
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}